@import "../../css/mixins.scss";

@mixin vars() {
  --button-height-fancy: 54px;
  --button-height: 48px;
  --button-height-small: 40px;
  --button-width: 100%;
  --button-padding: var(--pad-6);
  --button-padding-small: var(--pad-5);
  --transition-time: 0.7s;

  @media (min-width: $tablet) {
    --button-width: 160px;
    --button-height-fancy: 48px;
    --button-height: 44px;
    --button-height-small: 32px;
    --button-padding: var(--pad-5);
    --button-padding-small: var(--pad-4);
  }

  @media (min-width: $laptop) {
    --button-width: 180px;
    --button-height-fancy: 54px;
    --button-height: 48px;
    --button-height-small: 40px;
    --button-padding: var(--pad-6);
  }

  @media (min-width: $desktop) {
    --button-width: 200px;
    --button-height-fancy: 62px;
    --button-height: 56px;
    --button-height-small: 48px;
    --button-padding: var(--pad-6);
  }
}

@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.button {
  @include vars;
  @include flex;

  position: relative;
  padding: 0 var(--button-padding);
  min-width: var(--button-width);
  width: fit-content;
  text-decoration: none;
  box-sizing: border-box;

  &.secondary {
    min-height: var(--button-height);
    height: var(--button-height);
    transition: 300ms;
    background: var(--white);
    border-radius: calc(var(--button-height) / 2);
    border: 2px solid var(--yellow);
    &:hover {
      background: var(--yellow);
      > * {
        color: var(--white) !important;
      }
    }
  }

  &.primary {
    min-height: var(--button-height);
    height: var(--button-height);
    transition: 300ms;
    background: var(--yellow);
    border-radius: calc(var(--button-height) / 2);
    border: 2px solid var(--yellow);
    &:hover {
      background: var(--white);
      > * {
        color: var(--yellow) !important;
      }
    }
  }

  &.small {
    min-width: auto !important;
    padding: 0 var(--button-padding-small);
    min-height: var(--button-height-small) !important;
    height: var(--button-height-small) !important;
    transition: 100ms;
  }
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
  background: var(--grey) !important;
}

.container {
  width: 100%;
  @media (min-width: $tablet) {
    width: auto;
  }
}

.container:has(.fancy) {
  @include vars;

  -webkit-mask: url("../../assets/illu/ButtonStroke.svg");
  mask: url("../../assets/illu/ButtonStroke.svg");
  position: relative;

  .fancy {
    @include button(
      var(--yellow),
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
      3000%,
      100%,
      none,
      none
    );
    overflow: visible;
    transition: 100ms;
    height: var(--button-height-fancy);

    h5 {
      visibility: hidden;
      cursor: pointer;
    }

    -webkit-animation: ani2 var(--transition-time) steps(29) forwards;
    animation: ani2 var(--transition-time) steps(29) forwards;
  }
  .stroke,
  .hoverText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .stroke {
    height: 101%;
    width: 101%;

    path {
      fill: var(--grey);
    }
  }
  .hoverText {
    text-wrap: nowrap;
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    transition: var(--transition-time);
    pointer-events: none;
  }
  &:hover {
    .hoverText {
      transform: translate(-50%, -50%) scale(1.1);
    }
    .fancy {
      -webkit-animation: ani var(--transition-time) steps(29) forwards;
      animation: ani var(--transition-time) steps(29) forwards;
    }
  }
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
