@import "../../css/mixins.scss";

@mixin sizing($font, $size) {
  font-size: var(--heading#{$font}-h#{$size});
  line-height: var(--heading#{$font}-h#{$size}-line);
}

@mixin level($font, $desk, $lap, $tab, $mob) {
  @include sizing($font, $mob);

  @media (min-width: $tablet) {
    @include sizing($font, $tab);
  }

  @media (min-width: $laptop) {
    @include sizing($font, $lap);
  }

  @media (min-width: $desktop) {
    @include sizing($font, $desk);
  }
}

.heading {
  text-decoration: none !important;
  &.clickable {
    &:hover {
      color: var(--yellow) !important;
    }
  }
}

.seto {
  @include fontHeaderSeto;

  @for $i from 1 through 3 {
    &.level#{$i} {
      @include level(-seto, $i, $i + 1, $i + 1, $i + 2);
    }
  }
  &.level4 {
    @include level(-seto, 4, 4, 4, 5);
  }
  &.level5 {
    @include level(-seto, 5, 5, 5, 5);
  }
}

.cursive {
  @include fontHeaderCaveat;

  font-weight: 600;
  @for $i from 1 through 3 {
    &.level#{$i} {
      @include level(-caveat, $i, $i + 1, $i + 1, $i + 2);
    }
  }
  &.level4 {
    @include level(-caveat, 4, 4, 4, 5);
  }
  &.level5 {
    @include level(-caveat, 5, 5, 5, 5);
  }
}

@keyframes moveGradient {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient {
  background: var(--gold-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
