@import "../../css/mixins.scss";

@mixin vars() {
  --modal-width: 100%;
  --container-min-width: 100%;
  --image-height: 300px;
  @media (min-width: $tablet) {
    --modal-width: var(--screen-width-small);
  }

  @media (min-width: $laptop) {
    --container-min-width: 400px;
    --image-height: 400px;
  }

  @media (min-width: $desktop) {
  }
}

.modal {
  @include vars;
  @include flexColumn(flex-start, center);

  width: var(--modal-width);
  gap: var(--pad-4);
  background: var(--white);
  border-radius: var(--pad-1);
  box-shadow: 0 0 20px rgba(var(--gold-light-rgb), 0.5);
  cursor: auto;

  .container {
    @include flexColumn(center, space-between);

    width: 100%;
    position: relative;
    gap: var(--pad-4);

    .text {
      @include flexColumn(flex-start, flex-start);

      width: 100%;
      // p {
      //   @include paragraphMaxLines(8, auto);
      // }
      gap: var(--pad-3);
      flex: 1;
    }
    .embeded {
      iframe {
        flex: 1;
        aspect-ratio: 16 / 9;
        min-width: var(--container-min-width);
        border: none;
        border-radius: 6px;
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
